
.container{
    padding: 0 11.25rem;
    height: 650px;
    display: grid;
    background-image: url("/images/background_at.svg");

}

.maintext{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 49px;
    line-height: 50px;
    margin-top: 148px;
    margin-left: -10px;

    color: #1E255E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.h2{
    font-weight: 200;
    font-size: 9px;
    margin-top: 18px;
}

.mini{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 85%;
    line-height: 24px;
    margin-top: -40px;
    margin-left: -10px;
    
    color: rgba(37, 55, 199, 0.7);    
}

.image{
    position: absolute;
    margin-left: 38.5%;
    margin-top: 68.5px;
}

.button{
    width: 200px;
    height: 70px;
    margin-left: 30px;
    margin-top: -10px;
    font-size: 14px;
    font-weight: 500;
    font-display: center;
    font-family: 'Poppins', sans-serif;
    color: #1E255E;
    background-color: transparent;

    border: 1px solid #17D0AF;
    border-radius: 4px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}