
.container{
    padding: 0 11.25rem;
    height: 650px;
    display: grid;
    background-image: url("/images/background_listing.svg");

}

.title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 84px;

    color: #1E255E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}

.subtext{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    
    color: #1E255E;
    margin-top: 120px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 90px;
}

.image{
    position: absolute;
    left: 18.5%;
    margin-top: 155px;
}

.a{
    margin-top: -38px;
    margin-left: 102px;
}

.b{
    margin-top: -50px;
    margin-left: 379px;
}

.c{
    margin-top: -48px;
    margin-left: 540px;
}

.d{
    margin-top: -49px;
    margin-left: 795px;
}

.e{
    margin-top: -38px;
    margin-left: 152px;
}

.f{
    margin-top: -50px;
    margin-left: 360px;
}

.g{
    margin-top: -48px;
    margin-left: 535px;
}

.h{
    width: 200px;
    margin-top: -49px;
    margin-left: 770px;
}



.position{
    margin-top: -10px;
    margin-left: 80px;
}

.positionb{
    margin-top: -30px;
    margin-left: 80px;
}

.circle{
    border-color: transparent;
    margin-right: 90px;

}
