
.container{
    padding: 12px;
    margin-top: 3%;
    margin-left: 8.5%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: transparent;
}

.logo{
    background: transparent;
}


.menu{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #1E255E;
}

.menu nav a{
    text-decoration: none;
    padding-right: 29px;
}

.buttonshare{
    width: 180%;
    height: 40px;
    font-display: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #1E255E;
    background-color: transparent;
    border: 1px solid #17D0AF;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}